@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 25px;
}

/* START HEADER */

.header {
  display: flex;
  align-items: center;
}

.logo {
  flex-shrink: 1;
}

.navbar {
  flex-grow: 1;
}

nav ul {
  display: flex;
  gap: 32px;
}

nav ul li {
  color: #69707d;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  display: inline-flex;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}

.navbar ul li {
  position: relative;
}

.navbar ul li:hover::after {
  content: "";
  position: absolute;
  bottom: -57px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ff7e1b;
}

.account-info {
  gap: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* CART */

.cart-icon {
  position: relative;
}

.cart-icon img {
  cursor: pointer;
}

.none-cart {
  display: none;
}

.cart {
  width: 360px;
  position: absolute;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  right: -180px;
  top: 50px;
  padding-bottom: 15px;
}

.top-cart p {
  color: #1d2026;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 12px;
  margin-left: 10px;
}

.line-in-cart {
  width: 100%;
  height: 2px;
  flex-shrink: 0;
  background: #e4e9f2;
}

.main-cart-container {
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-item-in-cart {
  display: block;
  color: #69707d;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.item-in-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-in-cart-name p {
  color: #69707d;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0px;
}

.item-in-cart-price {
  display: flex;
}

.item-in-cart-price p {
  color: #69707d;
  font-family: Kumbh Sans;
  font-size: 16px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.item-in-cart-price span {
  color: #1d2026;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-left: 5px;
}

.item-in-cart-img {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.middle-section-in-cart {
  flex: 60%;
}

.item-in-cart-delete {
  flex: 5%;
}

.item-in-cart-price {
}

.item-in-cart-img img {
  width: 50px;
  height: 50px;
}

.checkout-button {
  display: flex;
  justify-content: center;
}

.checkout-button button {
  color: #fff;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: #ff7e1b;
  border-radius: 10px;
  padding: 15px 90px;
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  border: none;
  cursor: pointer;
}

.checkout-button button:active {
  background: #ffab6a;
}

/* FINISH CART */

.profile img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  cursor: pointer;
}

.line {
  margin-top: 40px;
  height: 1px;
  background: #e4e9f2;
  width: 100%;
}

.main-section {
  display: flex;
}

.left-section {
  margin-top: 90px;
  flex-basis: 50%;
}

.selected-thumbnail img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  transform: scale(1.1);
  filter: grayscale(50%);
}

.main-thumbnail img {
  width: 445px;
  height: 445px;
  flex-shrink: 0;
  border-radius: 15px;
  cursor: zoom-in;
}

.small-thumbnail-container {
  margin-top: 32px;
  display: inline-flex;
  gap: 32px;
}

.small-thumbnail {
  box-sizing: border-box;
}

.small-thumbnail img {
  width: 88px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3 ease;
}

.small-thumbnail img:hover {
  transform: scale(1.1);
  filter: grayscale(50%);
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreen-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  cursor: zoom-out;
  border-radius: 15px;
}

/* ENDING HEADER */

.right-section {
  margin-top: 152px;
  width: 445px;
}

.title p {
  color: #ff7e1b;
  font-family: Kumbh Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.model h1 {
  color: #1d2026;
  font-family: Kumbh Sans;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.description p {
  color: #69707d;
  font-family: Kumbh Sans;
  line-height: 26px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.prices {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.price-after-sale p {
  color: #1d2026;
  margin-right: 24px;
  font-family: Kumbh Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sale p {
  color: #ff7e1b;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.price-before-sale {
  justify-content: flex-end;
  color: #b6bcc8;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-decoration-line: line-through;
}

.price-before-sale p {
  margin-top: 0px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 75px;
  align-items: center;
  height: 56px;
  border-radius: 10px;
  background: #f6f8fd;
}

.value {
  color: #1d2026;
  text-align: center;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.increase,
.decrease {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-to-cart-button img {
  margin-right: 10px;
}

.add-to-cart-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 5px 60px;
  background-color: #ff7e1b;
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  border-radius: 10px;
}

.add-to-cart-button p {
  color: #fff;
  font-family: Kumbh Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add-to-cart-button button:active {
  background: #ffab6a;
}
